* {
    font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background-image: url('agua-m.jpg');
    background-position: center;
    background-size: cover;
}
.h1 {
    text-align: center;
    margin: 1%;
  color: white;
}

.flex {
    display: flex;
    gap: 1rem;
}
.contenedor {
    margin-left: 20px;
}
.containerr {
    margin: 0 auto;
    padding: 2%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(24px);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.titleForm {
    font-size: 2rem;
    margin-right: 1rem;
    color: white;
}
.no {
    display: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input {
    padding: 10px;
}
.no {
    display: none;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
.completed {
    background-color: aqua;
}
.success {
    text-align: center;
    
}


.input {
    padding: 0.5% 0;
    border-radius: 10px;
    border: 1px solid skyblue;
    
}


.r {
    
    
    padding: 2% 10%;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}

.subir {
    
    
    padding: 2% 10%;
    background-color: lightgreen;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
.agua {
    color: skyblue;
}